<p>course-detail works! Course-Id: {{ course.id }}</p>
<form #courseForm="ngForm" (ngSubmit)="onSubmit(courseForm.value)">
  <div class="form-group">
    <label for="courseCode"
      >Course Code <span *ngIf="course?.status">({{ course?.status }})</span></label
    >
    <input
      type="text"
      class="form-control"
      name="courseCode"
      [(ngModel)]="course.courseCode"
      #courseCode="ngModel"
      placeholder="course code here..."
    />
  </div>
  <div class="form-group">
    <label for="name">Course Name</label>
    <input
      type="text"
      class="form-control"
      name="name"
      [(ngModel)]="course.name"
      #name="ngModel"
      placeholder="name here ..."
    />
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea
      type="text"
      class="form-control"
      name="description"
      [(ngModel)]="course.description"
      #description="ngModel"
      placeholder="description here ..."
    ></textarea>
  </div>
  <div class="form-group">
    <label for="cipCode">CIP Code</label>
    <input
      type="text"
      class="form-control"
      name="cipCode"
      [(ngModel)]="course.cipCode"
      #cipCode="ngModel"
      placeholder="CIP code  here ..."
    />
  </div>
  <div class="form-group">
    <label for="beginServiceYearId">Begin ServiceYear</label>
    <select
      class="form-control"
      [(ngModel)]="course.beginServiceYearId"
      name="beginServiceYearId"
      #beginServiceYearId="ngModel"
    >
      <option *ngFor="let year of schoolYears" [value]="year.id">{{ year.year }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="endServiceYear">End ServiceYear</label>
    <select
      class="form-control"
      [(ngModel)]="course.endServiceYearId"
      name="endServiceYear"
      #endServiceYear="ngModel"
    >
      <option *ngFor="let year of schoolYears" [value]="year.id">{{ year.year }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="creditType">Credit Type</label>
    <select
      class="form-control"
      [(ngModel)]="course.creditTypeId"
      name="creditType"
      #creditType="ngModel"
    >
      <option *ngFor="let type of creditTypes" [value]="type.id">{{ type.name }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="courseType">Course Type</label>
    <select
      class="form-control"
      [(ngModel)]="course.courseTypeId"
      name="courseType"
      #courseType="ngModel"
    >
      <option *ngFor="let type of courseTypes" [value]="type.id">{{ type.name }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="classType">Class Type</label>
    <select
      class="form-control"
      [(ngModel)]="course.classTypeId"
      name="classType"
      #classType="ngModel"
    >
      <option *ngFor="let type of classTypes" [value]="type.id">{{ type.name }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="subjectArea">Subject Area</label>
    <select
      class="form-control"
      [(ngModel)]="course.subjectAreaId"
      name="subjectArea"
      #subjectArea="ngModel"
    >
      <option *ngFor="let type of subjectAreas" [value]="type.id">{{ type.name }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="status">Status: {{ course.status }}</label>
  </div>
  <button class="btn btn-primary" type="submit">Save</button>
</form>

<h4>{{ course?.name }}</h4>
<pre>
  <code>
    {{ course | json}}
  </code>
</pre>
