<p>
  course-edit-info works!
</p>

<form novalidate #courseForm="ngForm" (ngSubmit)="onSubmit(courseForm.value)">
  <div class="form-group row">
    <label for="courseCode" class="col-md-2 col-form-label">Coure Code</label>
    <div class="col-md-8">
      <input
        type="text"
        class="form-control"
        id="courseCode"
        name="courseCode"
        placeholder="Course Code (required)"
        [(ngModel)]="course.courseCode"
        minlength="6"
      />
    </div>
  </div>
  <div class="form-group row">
    <label for="cipCode" class="col-md-2 col-form-label">CIP Code</label>
    <div class="col-md-8">
      <input
        type="text"
        class="form-control"
        id="cipCode"
        name="cipCode"
        placeholder="CIP Code"
        [(ngModel)]="course.cipCode"
        minlength="6"
      />
    </div>
  </div>
  <div class="form-group row">
    <label for="courseName" class="col-md-2 col-form-label">Name</label>
    <div class="col-md-8">
      <input
        type="text"
        class="form-control"
        id="courseName"
        name="courseName"
        placeholder="Course Name (required)"
        [(ngModel)]="course.name"
      />
    </div>
  </div>
  <div class="form-group row">
    <label for="description" class="col-md-2 col-form-label">Description</label>
    <div class="col-md-8">
      <textarea
        id="description"
        name="description"
        class="form-control"
        cols="30"
        rows="10"
        placeholder="Course Description (required)"
        [(ngModel)]="course.description"
      ></textarea>
    </div>
  </div>
  <div class="form-group row">
    <label for="beginServiceYearId" class="col-md-2 col-form-label">Begin Service</label>
    <div class="col-md-8">
      <select
        class="form-control"
        [(ngModel)]="course.beginServiceYearId"
        name="beginServiceYearId"
        #beginServiceYearId="ngModel"
      >
        <option *ngFor="let year of schoolYears" [value]="year.id">{{ year.year }}</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="endServiceYearId" class="col-md-2 col-form-label">End Service</label>
    <div class="col-md-8">
      <select
        class="form-control"
        [(ngModel)]="course.endServiceYearId"
        name="endServiceYearId"
        #beginServiceYearId="ngModel"
      >
        <option *ngFor="let year of schoolYears" [value]="year.id">{{ year.year }}</option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label for="lowGradeId" class="col-md-2 col-form-label">Low Grade</label>
    <div class="col-md-8">
      <select
        class="form-control"
        [(ngModel)]="course.lowGradeId"
        name="lowGradeId"
        #lowGradeId="ngModel"
      >
        <option *ngFor="let grade of grades" [value]="grade.id"
          >{{ grade.grade }} - {{ grade.name }}</option
        >
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="highGradeId" class="col-md-2 col-form-label">High Grade</label>
    <div class="col-md-8">
      <select
        class="form-control"
        [(ngModel)]="course.highGradeId"
        name="highGradeId"
        #highGradeId="ngModel"
      >
        <option *ngFor="let grade of grades" [value]="grade.id"
          >{{ grade.grade }} - {{ grade.name }}</option
        >
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label for="courseTypeId" class="col-md-2 col-form-label">Course Type</label>
    <div class="col-md-8">
      <select
        class="form-control"
        [(ngModel)]="course.courseTypeId"
        name="courseTypeId"
        #courseTypeId="ngModel"
      >
        <option *ngFor="let type of courseTypes" [value]="type.id">{{ type.name }}</option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label for="creditTypeId" class="col-md-2 col-form-label">Credit Type</label>
    <div class="col-md-8">
      <select
        class="form-control"
        [(ngModel)]="course.creditTypeId"
        name="creditType"
        #creditType="ngModel"
      >
        <option *ngFor="let type of creditTypes" [value]="type.id">{{ type.name }}</option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label for="classTypeId" class="col-md-2 col-form-label">Class Type</label>
    <div class="col-md-8">
      <select
        class="form-control"
        [(ngModel)]="course.classTypeId"
        name="classTypeId"
        #classTypeId="ngModel"
      >
        <option *ngFor="let type of classTypes" [value]="type.id">{{ type.name }}</option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label for="subjectAreaId" class="col-md-2 col-form-label">Subject Area</label>
    <div class="col-md-8">
      <select
        class="form-control"
        [(ngModel)]="course.subjectAreaId"
        name="subjectArea"
        #subjectArea="ngModel"
      >
        <option *ngFor="let type of subjectAreas" [value]="type.id">{{ type.name }}</option>
      </select>
    </div>
  </div>
  <button class="btn btn-primary" type="submit">Save</button>
  <button
    class="btn btn-default"
    type="button"
    [routerLink]="['/courses']"
    routerLinkActive="router-link-active"
  >
    Cancel
  </button>
</form>

<pre>
  <code>
    {{ course | json}}
  </code>
</pre>
