<div class="row">
  <div class="col-md-5">
    <h6>Available Programs</h6>
    <dx-list
      #availablePrograms
      [height]="200"
      [dataSource]="programs"
      selectionMode="multiple"
      [showSelectionControls]="true"
      [searchEnabled]="true"
      [searchExpr]="['name', 'programCode']"
      searchMode="contains"
      pageLoadMode="scrollBottom"
      itemTemplate="data"
    >
      <div *dxTemplate="let item of 'data'">
        <div>({{ item.programCode }}) {{ item.name }}</div>
      </div>
    </dx-list>
  </div>
  <div class="col align-self-center">
    <div>
      <button
        class="btn btn-outline-primary btn-block"
        [disabled]="!availablePrograms.selectedItems.length"
        (click)="addProgram(availablePrograms)"
      >
        <i class="fa fa-angle-double-right fa-2x" aria-hidden="true"></i>
      </button>
    </div>
    <div>
      <button
        class="btn btn-outline-primary btn-block"
        (click)="removeProgram(currentPrograms)"
        [disabled]="!currentPrograms.selectedItems.length"
      >
        <i class="fa fa-angle-double-left fa-2x" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div class="col-md-5">
    <h6>Assigned Programs</h6>
    <dx-list
      #currentPrograms
      [height]="200"
      [dataSource]="course.careerTechPrograms"
      selectionMode="multiple"
      [showSelectionControls]="true"
      [searchEnabled]="true"
      [searchExpr]="['name', 'programCode']"
      searchMode="contains"
      pageLoadMode="scrollBottom"
      itemTemplate="data"
      [allowItemDeleting]="true"
      (onItemDeleting)="onItemDeleting($event)"
    >
      <div *dxTemplate="let item of 'data'">
        <div>({{ item.programCode }}) {{ item.name }}</div>
      </div>
    </dx-list>
  </div>
</div>
<div class="row">
  <div class="col">
    <code>
      <pre
        >{{ course.careerTechPrograms | json }}
      </pre>
    </code>
  </div>
</div>
