<h4>Course List</h4>
<div class="col-md-4">
  <dx-list
    #list
    [dataSource]="courses"
    [height]="400"
    [searchEnabled]="true"
    selectionMode="single"
    selectAllMode="page"
    searchExpr="name"
    searchMode="contains"
    itemTemplate="data"
  >
    <div *dxTemplate="let item of 'data'">
      <div>{{ item.id }} : {{ item.name }}</div>
      <div>{{ item.courseCode }}</div>
    </div>
  </dx-list>

  <div class="selected-data">
    <span class="caption">Selected IDs:</span>
    <span>{{ list.selectedItemKeys.join(', ') }}</span>
  </div>
</div>
