<div class="card text-center">
  <div class="card-header">
    Course Catalog
  </div>
  <div class="card-body">
    <h5 class="card-title">Course List</h5>

    <dx-data-grid
      id="gridContainer"
      [dataSource]="courses"
      [remoteOperations]="false"
      [allowColumnReordering]="true"
      [rowAlternationEnabled]="true"
      [showBorders]="true"
      [height]="400"
      [columns]="[
        'courseCode',
        'name',
        'description',
        'cipCode',
        'beginServiceYear',
        'endServiceYeaer',
        'creditType',
        'courseType',
        'classType',
        'subjectArea',
        'status'
      ]"
    >
      <dxo-scrolling mode="virtual" rowRenderingMode="virtual"></dxo-scrolling>
      <dxo-paging [pageSize]="10"></dxo-paging>
      <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true">
      </dxo-pager>
      <dxo-filter-row [visible]="true" [applyFilter]="currentFilter"></dxo-filter-row>
      <dxo-header-filter [visible]="true"></dxo-header-filter>
      <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
      <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
    </dx-data-grid>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>
