<div class="card text-center">
  <div class="card-header">
    Course Catalog
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>

    <table class="table">
      <thead>
        <tr>Course Code</tr>
        <tr>Course Name</tr>
        <tr>Description</tr>
      </thead>
      <tbody>
        <tr *ngFor="let course of courses">
          <td>{{course.courseCode}}</td>
          <td>{{course.name}}</td>
          <td>{{course.description}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>
